/* Edit link form */
.navform div label {
	padding-bottom: 4px;
}

.navform {
	font-size: 11px;
}

.navform div {
	clear: both;
	margin: 6px 0;
}

.navform label {
	display: block;
	float: left;
	padding-left: 8px;
	width: 93px;
}

.navformwide label {
	width: 130px;
}

.navform div.radios label {
	display: inline;
	float: none;
	padding: 0;
	width: auto;
}

.navform sup.req {
	color: #cc0000;
	font-weight: bold;
}

.navform div.radios {
	margin-left: 8px;
}

.navform div.buttons {
	text-align: center;
}

.navform div input.error {
	margin: 0;
	padding: 3px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

.navform label.error {
	clear: both;
	margin-top: 4px;
	margin-left: 101px;
	width: auto;
	color: red;
}

.navformwide label.error {
	margin-left: 138px;
}

/* Start new styles */

#navman-container {
	margin-top: 20px;
	margin-right: 250px;
}

.navman-toolbar {
	margin-bottom: 20px;
}

.navman-toolbar a {
	text-decoration: none;
}

.navman-body {
	float: left;
	width: 100%;
}

.navman-actions {
	float: right;
	margin-right: -250px;
	width: 220px;
}

.navman-actions .metabox-holder {
	position: relative;
	padding-top: 0 !important;
	min-width: 200px;
}

.navman-actions .actions {
	padding: 10px 10px 8px;
	text-align: center;
}

#nav-tree-container {
    background: transparent;
}

.metabox-holder .inside p {
	padding-left: 10px;
	padding-right: 10px;
}

.metabox-holder .inside .actions {
	background: #ebf2fb;
	border-top: 1px solid #ddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}