.post-placement-toolbar .edit-buttons {
	margin: 20px 0 0 auto;
	width: 180px;
}

#TB_window .post-placement-toolbar p.hint {
	margin-left: 20px;
	color: #777;
	font-style: italic;
	padding: 0;
}

#edit-post-tree {
	position: relative; /* anchors absolutely positioned counts */
}

#TB_window .bu-edit-post a {
	color: black;
}

#TB_window .bu-edit-post .denied > a {
    color: #AF5D5D;
}

#TB_window .bu-edit-post.current-post-status-draft .denied > a,
#TB_window .bu-edit-post.current-post-status-pending .denied > a,
#TB_window .bu-edit-post.current-post-status-private .denied > a {
  color: black;
	background: #eee;
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}

#TB_window .bu-edit-post .jstree-clicked {
	color: white;
}

#bunavattrsdiv .inside {
	margin: 0;
}

#bunavattrsdiv .container {
	padding: 12px 6px;
	border-top: 1px solid #eee;
}

#bunavattrsdiv .label {
	display: inline-block;
	*display: inline;
	width: 29%;
	font-weight: bold;
	height: 16px;
}

#bu-post-breadcrumbs {
	margin-bottom: 15px;   
}