.page_location_toolbar .edit_buttons {
	margin: 20px 0 0 auto;
	width: 176px;
}

#TB_window .page_location_toolbar p.hint {
	margin-left: 20px;
	color: #777;
	font-style: italic;
	padding: 0;
}

#TB_window .jstree-bu a {
	color: black;
	cursor: default;
}

#TB_window .jstree-bu .jstree-clicked {
	color: white;
	cursor: move;
}

