#edit_page_tree {
	padding-right: 2em;
	margin-top: 90px;
}

.page_location_toolbar {
	width: inherit;
	background-color: white;
	position: fixed;
	margin-top: -2px;
}

.page_location_toolbar .edit_buttons {
	float: right;
	margin-top: 45px;
	margin-bottom: 1em;
}

/* Thickbox overrides */
#TB_window .jstree-bu a {
 color: black;   
}

#TB_window .jstree-bu .jstree-clicked {
 color: white;
}