.page_location_toolbar .edit_buttons {
	margin: 20px 0 0 auto;
	width: 180px;
}

#TB_window .page_location_toolbar p.hint {
	margin-left: 20px;
	color: #777;
	font-style: italic;
	padding: 0;
}

#edit_page_tree {
	position: relative; /* anchors absolutely positioned counts */
}

#TB_window .jstree-bu a {
	color: black;
}

#TB_window .jstree-bu .jstree-clicked {
	color: white;
}

#TB_window .jstree-bu.bu-edit-post .jstree-clicked {
	cursor: move;
}