#edit_page_tree {
	position: relative;
	padding-right: 2em;
	height: 83%;
	overflow: scroll;
}

.page_location_toolbar {
	padding: 1em 0.5em;
	*zoom: 1;
}

.page_location_toolbar .edit_buttons {
	float: right;
	margin-top: 45px;
	margin-bottom: 1em;
}

.page_location_toolbar:before,
.page_location_toolbar:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.page_location_toolbar:after {
	clear: both;
}

/* Thickbox overrides */
#TB_window .jstree-bu a {
 color: black;   
}

#TB_window .jstree-bu .jstree-clicked {
 color: white;
}



.postbox .inside p {
	
}