.navform div label
{
	padding-bottom: 4px;
}

.navform
{
	font-size: 11px;
}

.navform div
{
	clear: both;
	margin: 6px 0;
}

.navform label
{
	display: block;
	float: left;
	width: 93px;
	padding-left: 8px;
}

.navformwide label
{
	width: 130px;
}

.navform div.radios label
{
	display: inline;
	float: none;
	width: auto;
	padding: 0;
}

.navform sup.req
{
	color: #cc0000;
	font-weight: bold;
}

.navform div.radios
{
	margin-left: 8px;
}

.navform div.buttons
{
	text-align: center;
}

.has-right-sidebar #navman_main
{
	clear: left;
	float: left;
	margin-right: -340px;
	width: 100%;
}

#navman_pagedetail
{
	position: fixed;
	width: 281px;
}

#navman_pagedetail p
{
	padding: 8px;
}

#navman_drop
{
	border: 1px dotted;
	margin: 8px;
	padding: 16px;
}

#navman_drop:hover
{
	background: #efefef;
}

#navman_container {
    background: transparent;
}

.jstree-classic a.jstree-loading.jstree-clicked .jstree-icon { background:url("images/throbber-dark.gif") center center no-repeat !important; }


.jstree-classic a.jstree-clicked {
	background-color: #555;
	border-color: #555;
}

#navman_container li.excluded a.jstree-clicked {
	color: white;
}

#navman_container li.excluded a {
	color: #666666;
}

.navform div input.error
{
	margin: 0;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	padding: 3px;
}

.navform label.error
{
	clear: both;
	width: auto;
	margin-left: 101px;
	margin-top: 4px;
	color: red;
}

.navformwide label.error
{
	margin-left: 138px;
}

#navman_container li
{
	width: auto;
}

#navman_container ul li > a ins
{
	background-image: url(icons/page_regular.png);
}

#navman_container ul li[rel="folder"] > a ins
{
	background-image: url(icons/folder_regular.png);
}

#navman_container ul li[rel="folder_excluded"] > a ins
{
	background-image: url(icons/folder_hidden.png);
}

#navman_container ul li[rel="folder_restricted"] > a ins
{
	background-image: url(icons/folder_lock.png);
}

#navman_container ul li[rel="folder_excluded_restricted"] > a ins
{
	background-image: url(icons/folder_hidden_restricted.png);
}

#navman_container ul li[rel="page"] > a ins
{
	background-image: url(icons/page_regular.png);
}

#navman_container ul li[rel="page_excluded"] > a ins
{
	background-image: url(icons/page_hidden.png);
}

#navman_container ul li[rel="page_restricted"] > a ins
{
	background-image: url(icons/page_restricted.png);
}

#navman_container ul li[rel="page_excluded_restricted"] > a ins
{
	background-image: url(icons/page_hidden_restricted.png);
}

#navman_container ul li[rel="page"] > a ins
{
	background-image: url(icons/page_regular.png);
}

#navman_container ul li[rel="link"] > a ins
{
	background-image: url(icons/page_white_link.png);
}

#navman_container ul li[rel="link_restricted"] > a ins
{
	background-image: url(icons/page_white_link.png);
}